<div class="poll-form-wrapper">
  <%= simple_form_for(@poll) do |f| %>
    <!-- Render all the errors if needed -->
    <% if @poll.errors.full_messages.length > 0 %>
      <div class="errors-wrapper">
        <h5>Your poll had the following errors:</h5>
        <ul>
          <% @poll.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Render the question input -->
    <%= f.input :question, label: 'Poll Question', placeholder: 'Type your question here, options below', autofocus: true %>

    <!-- Render all the options -->
    <% @poll.options.each_with_index do |option, index| %>
      <%= f.simple_fields_for :options, option do |o| %>
        <span class="option-label"><%= "#{index+1}." %></span>
        <%= o.input :text, label: 'Poll Option', placeholder: 'Enter poll option' %>
      <% end %>
    <% end %>

    <%= f.button :submit %>
  <% end %>
</div>
