<div class='intro-wrapper'>
  <div class='intro-content'>
    <div class='intro-text'>
      <h1 class='intro-text-header'>Welcome!</h1>
      <ul>
        <li>Enter your question and answers here.</li>
        <li>After creating the poll you'll be able to share it with other people.</li>
        <li>You'll also be able to vote.</li>
      </ul>
    </div>

    <div>
      <%= render partial: 'shared/form_errors', locals: { object: @poll } %>

      <%= simple_form_for(@poll) do |f| %>
        <div class='question-input-wrapper'>
          <%= f.input :question, label: false, placeholder: 'Type your question here', autofocus: true %>
        </div>

        <ol id='js-add-option' class='options-list'>
          <% @poll.options.each_with_index do |option, index| %>
            <%= f.simple_fields_for :options, option do |o| %>
              <li><%= o.input :text, label: false, placeholder: 'Enter poll option' %></li>
            <% end %>
          <% end %>
        </ol>

        <div class='button-group'>
          <%= f.button :button, type: :submit, class: 'create-poll-button' do %>
            Create Poll
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
