<!-- Render the sharing options -->
<%= render partial: 'polls/share' %>

<!-- Render the poll voting options -->
<div class="poll-show-wrapper">
  <div class="poll-header">
    <h2>
      <%= @poll.question %>
    </h2>
    <p>
      Pick one of the following options:
    </p>
  </div>

  <div class="poll-body">
    <%= simple_form_for(@vote) do |f| %>
      <!-- Render all the errors if needed -->
      <% if @vote.errors.full_messages.length > 0 %>
        <div class="errors-wrapper">
          <h5>Your vote had the following errors:</h5>
          <ul>
            <% @vote.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% @poll.options.each do |option| %>
        <div class="vote-option-wrapper">
          <%= f.radio_button :option, option.id %>
          <label class="vote-option-text" for="vote_option_<%= option.id %>">
            <%= option.text %>
          </label>
        </div>
      <% end %>

      <%= f.button :submit, 'Vote' %>
    <% end %>
  </div>
</div>
