<!-- Render the poll voting options -->
<div class="poll-show-wrapper">
  <%= simple_form_for(@vote) do |f| %>
    <!-- Render all the errors if needed -->
    <% if @vote.errors.full_messages.length > 0 %>
      <div class="errors-wrapper">
        <h5>Your vote had the following errors:</h5>
        <ul>
          <% @vote.errors.messages.values.each do |msg| %>
            <%msg.each do  |m| %>
              <li><%= m %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Render the question -->
    <h2 class="poll-show-question"><%= @poll.question %></h2>

    <!-- Render all voting options -->
    <ul>
      <% @poll.options.each do |option| %>
        <li>
          <%= f.hidden_field(:poll_id, value: @poll.id) %>
          <%= f.radio_button :option_id, option.id %>
          <label class="vote-option-text" for="vote_option_id_<%= option.id %>">
            <%= option.text %>
          </label>
        </li>
      <% end %>
    </ol>

    <%= f.button :submit, 'Vote' %>
  <% end %>

  <%= button_to "Go To Results", results_poll_path(@poll.uuid), { class: 'go-to-results', method: 'get' } %>
</div>
<!-- Render the sharing options -->
<%= render partial: 'polls/share' %>