<%= render partial: 'shared/form_errors', locals: { object: @vote } %>

<%= simple_form_for(@vote) do |f| %>
  <h1 class="poll-show-question">
    <%= @poll.question %>
  </h1>
  <ul>
    <% @poll.options.each do |option| %>
      <li>
        <%= f.hidden_field(:poll_id, value: @poll.id) %>
        <%= f.radio_button :option_id, option.id %>
        <label class="vote-option-text" for="vote_option_id_<%= option.id %>">
          <%= option.text %>
        </label>
      </li>
    <% end %>
  </ul>
  <div class="button-group">
    <%= f.button :submit, 'Vote' %>
    <%= button_to "View Results", results_poll_path(@poll.uuid), { class: 'go-to-results', method: 'get' } %>
  </div>
<% end %>

<%= render partial: 'polls/share' %>
