<section class="poll-show-wrapper">
  <div class="poll-show-content">
    <%= simple_form_for(@vote) do |f| %>
      <%= render partial: 'shared/form_errors', locals: { object: @vote } %>
      <div class='poll-content'>
        <h1 class="poll-show-question">
          <%= @poll.question %>
        </h1>
        <ul>
          <% @poll.options.each do |option| %>
            <li>
              <%= f.hidden_field(:poll_id, value: @poll.id) %>
              <%= f.radio_button :option_id, option.id %>
              <label for="vote_option_id_<%= option.id %>">
                <%= option.text %>
              </label>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="button-group">
        <%= link_to 'View Results', results_poll_path(@poll.uuid), class: 'view-results-link' %>
        <%= f.button :submit, 'Vote' %>
      </div>
    <% end %>
  </div>
</section>

<%= render partial: 'polls/share' %>
