<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Display the SEO meta tags -->
  <%= display_meta_tags %>

  <!-- Google charts library -->
  <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
</head>
<body>

<%-# Render the header -%>
<%= render partial: 'shared/header' %>

<%-# Yield to the body content -%>
<%= yield %>

<%-# Render the footer -%>
<%= render partial: 'shared/footer' %>

</body>
</html>
