<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Display the SEO meta tags -->
    <%= display_meta_tags %>

    <!-- Google charts -->
    <%= javascript_include_tag "https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}" %>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Open Sans', 'Varela Round']
        }
      });
    </script>
  </head>
  <body>
    <%= render partial: 'shared/header' %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
