<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= display_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag "https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}" %>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Open Sans', 'Varela Round']
        }
      });
    </script>
  </head>
  <body class='flex-footer'>
    <%= render partial: 'shared/header' %>
    <div class='grid-cell'>
      <%= yield %>
    </div>
    <%= yield :post_main %>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
